// global settings
* {
  box-sizing: border-box;
}
body {
  background-color: #fff;
}
.container {
  width: 85%;
  margin: auto;
}

// headings
.heading {
  text-transform: uppercase;
  color: $main2;
  margin: 0;
}
.subheading {
  margin-top: 10px;
  color: $mainDark;
  font-size: 1.6rem;
}

// navbar
@import "sass/components/navbar";


// footer
@import "sass/components/footer";
