- var pageTitle = "Homepage";
<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title #{pageTitle}
    include pug/layout/styles
  body
    .landing-page
      .overlay
      .navbar
        .container
          .navbar-elements
            .logo twenty
              span 11
            ul.nav-links
              li
                a(href="#") Home
              li
                a(href="#") Our Rent
              li
                a(href="#") Why US
              li
                a(href="#") FAQ
              li
                a(href="#") Apply Now
            .burger
              .line1
              .line2
              .line3
      .get-started
        h2 Charitable housing company
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto inventore iure esse minus, quam expedita.
        button Get started!

    //- wave
    svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 1440 320')
      path(fill='#fff' fill-opacity='1' d='M0,192L80,192C160,192,320,192,480,197.3C640,203,800,213,960,186.7C1120,160,1280,96,1360,64L1440,32L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z')
    
    //- about us
    .about-us
      .container
        .about-us-content
          .text
            h4.heading about us
            h3.subheading Charitable Housing company
            p.para Our products are fully custom-made, built with the latest technologies and cloud architectures.
            p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatum repellat harum accusamus pariatur veritatis odit rerum quo deleniti architecto cupiditate non at laudantium, sequi doloribus aliquid perspiciatis sunt nulla omnis.
            button Read More!
          .pic
            img(src="images/workplace.jpeg", alt="") 

    //- services
    .services
      .container
        .services-headline
          .heading-area
            h4.heading our services
            h3.subheading Transforming your ideas into Reality
          button All Services
        .services-types
          .type
            .icon
              i.fas.fa-money-bill-wave.fa-3x.fa-fw
            h4 Flexible rentsand money
          .type
            .icon
              i.fas.fa-user-friends.fa-3x.fa-fw
            h4 Work and opportunities
          .type
            .icon
              i.fas.fa-laptop-house.fa-3x.fa-fw
            h4 Community engagement
          .type
            .icon
              i.far.fa-comments.fa-3x.fa-fw
            h4 Coaching and mentoring

    //- apply
    .apply
      .overlay
      .container
        .inner-container
          h3.subheading To apply for a Twenty11 home
          h4.heading Bids on twenty11 homes will not be considered if you have not completed our pre-registeration process.
          .registration
            .reg-way
              .icon
                i.fas.fa-pen.fa-3x.fa-fw
              .inner-text
                h4 Register with Bucks home choice
                p Register on the Counsil's local lettings system bucks home choice.
            .reg-way
              .icon
                i.fas.fa-file-signature.fa-3x.fa-fw
              .inner-text
                h4 Complete Twenty11 pre-registration
                p complete out Twenty11 pre-registeration process in a few minutes.

    //- footer
    .footer
      .container
        .footer-content
          .logo-area
            .logo
              h2 twenty
                span 11
            .personal-info
              .info-part
                i.fas.fa-map-marker-alt
                .text
                  p Fake address @ Egypt
                  p Gomhorya st. 71515
              .info-part
                i.fas.fa-phone
                p 01098090927
              .info-part
                i.far.fa-paper-plane
                p mario130dev@gmail.com
              .icons
                a(href="#")
                  i.fab.fa-facebook.fa-md
                a(href="#")
                  i.fab.fa-twitter.fa-md
                a(href="https://github.com/mario130")
                  i.fab.fa-github.fa-md
          .footer-sections
          .section
            h4.underlined General info
            ul
              li
                a(href="#") Apply NOW
              li
                a(href="#") Why choose us?
              li
                a(href="#") Working with us
              li
                a(href="#") Our companions
              li
                a(href="#") Our bonus
          .section
            h4.underlined Formal bits
            ul
              li
                a(href="#") Startup
              li
                a(href="#") Policies
              li
                a(href="#") Give us your feedback
              li
                a(href="#") FAQ
              li
                a(href="#") Privacy policy
              li
                a(href="#") Contact us
          .section
            h4.underlined Twenty11 info
            ul
              li
                a(href="#") My account
              li
                a(href="#") My surveys
              li
                a(href="#") Latest offers
              li
                a(href="#") Our contributions
              li
                a(href="#") Licences
              li
                a(href="#") Social media

    //- copyright
    .copyright
      .container
        .cp-content
          .section
            p Copyright &copy; 2020 
              span Twenty
                span 11
          .section.hide-mobile
            p All rights reserved
          .section
            p Developed by 
              span.highlight  Mario Yonan



    include pug/layout/scripts
