- var pageTitle = "Homepage";
<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title #{pageTitle}
    include pug/layout/styles

  body
    .landing-page
      .overlay
      include pug/components/navbar
      .landing-content
        .illustration
          img(src="images/home.svg", alt="")
        .get-started
          h2 Charitable housing company
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto inventore iure esse minus, quam expedita.
          a(href="whyus.html") Why choose us? 
            i.fas.fa-angle-double-right
          a(href="rent.html") Get started! 
            i.fas.fa-angle-double-right

    //- wave
    svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 1440 320')
      path(fill='#fff' fill-opacity='1' d='M0,192L80,192C160,192,320,192,480,197.3C640,203,800,213,960,186.7C1120,160,1280,96,1360,64L1440,32L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z')
    
    //- about us
    .about-us
      .container
        .about-us-content
          .text
            h4.heading about us
            h3.subheading Charitable Housing company
            p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatum repellat harum accusamus pariatur veritatis odit rerum quo deleniti architecto cupiditate non at laudantium, sequi doloribus aliquid perspiciatis sunt nulla omnis.
            a(href="whyus.html") Read More! 
              i.fas.fa-angle-double-right
          .pic
            img(src="images/workplace.jpg", alt="") 

    //- services
    .services
      .container
        .services-headline
          .heading-area
            h4.heading our services
            h3.subheading Transforming your ideas into Reality
          a(href="apply.html") All Services 
            i.fas.fa-angle-double-right
        .services-types
          .type
            .icon
              i.fas.fa-money-bill-wave.fa-3x.fa-fw
            h4 Flexible rentsand money
          .type
            .icon
              i.fas.fa-user-friends.fa-3x.fa-fw
            h4 Work and opportunities
          .type
            .icon
              i.fas.fa-laptop-house.fa-3x.fa-fw
            h4 Community engagement
          .type
            .icon
              i.far.fa-comments.fa-3x.fa-fw
            h4 Coaching and mentoring

    //- apply
    .apply
      .overlay
      .container
        .inner-container
          h3.subheading To apply for a Tween11 home
          h4.heading Bids on Tween11 homes will not be considered if you have not completed our pre-registeration process.
          .registration
            .reg-way
              .icon
                i.fas.fa-pen.fa-3x.fa-fw
              .inner-text
                h4 Register with Bucks home choice
                p Register on the Counsil's local lettings system bucks home choice.
            .reg-way
              .icon
                i.fas.fa-file-signature.fa-3x.fa-fw
              .inner-text
                h4 Complete Tween11 pre-registration
                p complete out Tween11 pre-registeration process in a few minutes.

    //- footer
    include pug/components/footer


    include pug/layout/scripts
