- var pageTitle = "Why us";
<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title #{pageTitle}
    include pug/layout/styles

  body
    include pug/components/navbar




    include pug/components/footer


    include pug/layout/scripts
