- var pageTitle = "Why us";
<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title #{pageTitle}
    include pug/layout/styles

  body
    //- .whyus
    include pug/components/navbar

    //- landing part
    .container
      .whyus-main
        .text-content
          h4.heading Why choose us?
          h3.subheading We're comitted to providing the best quality materials and customer support
          p In order to meet this promise, we vow to only hire friendly, positive people that share our core values, passions for helping others and obsession with the quality of the materials.
          button See offers 
            i.fas.fa-angle-double-right
          .stats
            .stat
              h5 1400
              p happy clients
            .stat
              h5 50
              p languages
            .stat
              h5 20+
              p years of experience
        .pic
          img(src="images/whyus-team.svg", alt="")
        
    //- reasons
    .reasons
      .container
        .reasons-content
          h4.heading What makes us so special
          h3.subheading Life with Twenty11 is all about individuals, making sure that:
          ul.reasons-list
            li.reason Our rents are based on what you and your family can afford to pay – and we can help when your circumstances change
            li.reason We work with you to explore new opportunities for work, training, education or volunteering
            li.reason The way you engage with your neighbours and wider community positively contributes to the way we manage your tenancy
            li.reason Our bespoke Community Potential Specialist can help you to realise your own potential and encourage positive community interaction that improves your wellbeing and that of others
            li.reason We work with you to assess your existing skills, experience and development potential, so that we tailor our service to your needs as an individual or family
            li.reason Our approach is always about our partnership with you





    .whyus
      include pug/components/footer
    include pug/layout/scripts
