.navbar {
  background-color: transparent;
  padding-top: 40px;
  position: sticky;
  top: -40px;
  z-index: 3;
  transition: all 0.3s;
  .navbar-elements {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 8vh;
    .logo {
      text-decoration: none;
      cursor: pointer;
      text-transform: uppercase;
      color: #fff;
      font-weight: bold;
      font-family: "Fjalla One", sans-serif;
      letter-spacing: 2px;
      font-size: 1.5rem;
      span {
        background-color: $main2;
        padding: 5px;
        border-radius: 50%;
        font-size: 1.2rem;
        position: relative;
        bottom: 2px;
        // font-family: 'Fjalla One', sans-serif;
      }
    }
    .nav-links {
      display: flex;
      justify-content: space-between;
      width: 45%;
      padding-left: 0;
      li {
        list-style: none;
        a {
          font-family: "Ubuntu", sans-serif;
          text-decoration: none;
          color: rgb(226, 226, 226);
          letter-spacing: 3px;
          font-size: 14px;
          transition: color 0.6s;
          font-weight: bold;
          &:hover {
            color: $main2;
          }
          position: relative;
          &.active {
            color: $main2;
            &::before {
              content: "";
              height: 3px;
              width: 100%;
              position: absolute;
              bottom: -6px;
              left: 0;
              background-color: #f7b63c;
              border-radius: 5px;
            }
          }
        }
      }
    }
    .burger {
      display: none;
      div {
        width: 25px;
        height: 3px;
        background-color: rgb(226, 226, 226);
        margin: 5px;
        transition: all 0.3s ease;
      }
    }
  }
}
.nav-active {
  transform: translateX(0%) !important;
  position: fixed;
}
.toggle {
  .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  .line2 {
    opacity: 0;
  }
  .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }
}

@media screen and (min-width: 1400px) {
  .navbar {
    .navbar-elements {
      .logo,
      .logo span {
        font-size: 1.7rem;
      }
      .nav-links li a {
        font-size: 1rem;
      }
    }
  }
}
@media screen and (max-width: 1024px) {
  .navbar .navbar-elements .nav-links {
    width: 60%;
  }
}

// also navbar
@media screen and (max-width: 768px) {
  body,
  html {
    overflow-x: hidden;
  }
  .navbar .navbar-elements {
    .burger {
      display: block;
      cursor: pointer;
      z-index: 2;
    }
    .nav-links {
      position: absolute;
      right: 0;
      height: 100vh;
      top: 0vh;
      background-color: $mainDark;
      // background: linear-gradient(90deg, rgba(0,0,0,0.8) 0%, rgba(30,45,77,1) 100%);

      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      width: 100%;
      transform: translateX(100%);
      transition: transform 0.5s ease-in;

      li {
        opacity: 0;
        a.active::before {
          content: "";
          height: 100%;
          width: 3px;
          position: absolute;
          bottom: 0;
          left: -6px;
          background-color: #f7b63c;
        }
      }
    }
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

// Prevent scroll when opening nav
.noscroll {
  overflow: hidden;
}
