.footer
  .container
    .footer-content
      .logo-area
        .logo
          h2 Tween
            span 11
        .personal-info
          .info-part
            i.fas.fa-map-marker-alt
            .text
              p Fake address @ Egypt
              p Lorem ipsum dolor sit amet.
          .info-part
            i.fas.fa-phone
            p Lorem ipsum dolor sit amet.
          .info-part
            i.far.fa-paper-plane
            p 
              a(href="https://www.upwork.com/freelancers/~016e92d973c579f18b") Contact me
          .icons
            a(href="#")
              i.fab.fa-facebook.fa-md
            a(href="#")
              i.fab.fa-twitter.fa-md
            a(href="#")
              i.fab.fa-github.fa-md
      //- .footer-sections
      .section
        h4 General info
        ul
          li
            a(href="#") Apply NOW
          li
            a(href="#") Why choose us?
          li
            a(href="#") Working with us
          li
            a(href="#") Our companions
          li
            a(href="#") Our bonus
      .section
        h4 Formal bits
        ul
          li
            a(href="#") Startup
          li
            a(href="#") Policies
          li
            a(href="#") Give us your feedback
          li
            a(href="#") FAQ
          li
            a(href="#") Privacy policy
          li
            a(href="#") Contact us
      .section
        h4 Tween11 info
        ul
          li
            a(href="#") My account
          li
            a(href="#") My surveys
          li
            a(href="#") Latest offers
          li
            a(href="#") Our contributions
          li
            a(href="#") Licences
          li
            a(href="#") Social media

//- copyright
.copyright
  .container
    .cp-content
      .section.hide-mobile
        p Copyright &copy; 2020 
          span Tween
            span 11
      .section.hide-mobile
        p All rights reserved
      .section
        p Developed by 
          span.highlight  Mario Yonan
