.navbar
  .container
    .navbar-elements
      .logo Tween 
        span 11
      ul.nav-links
        li
          a(href="homepage.html" data-page="Homepage") Home
        li
          a(href="#" data-page="") Our Rent
        li
          a(href="whyus.html" data-page="Why us") Why US
        li
          a(href="#" data-page="") FAQ
        li
          a(href="#" data-page="") Apply Now
      .burger
        .line1
        .line2
        .line3
