.navbar
  .container
    .navbar-elements
      a(href="homepage.html").logo Tween 
        span 11
      ul.nav-links
        li
          a(href="homepage.html" data-page="Homepage") Home
        li
          a(href="whyus.html" data-page="Why us") Why US
        li
          a(href="rent.html" data-page="Rent") Our Rent
        li
          a(href="faq.html" data-page="FAQ") FAQ
        li
          a(href="#" data-page="") Apply Now
      .burger
        .line1
        .line2
        .line3
