.navbar
   .container
      .navbar-elements
         .logo Tween 
            span 11
         ul.nav-links
            li
               a(href="homepage.html") Home
            li
               a(href="#") Our Rent
            li
               a(href="whyus.html") Why US
            li
               a(href="#") FAQ
            li
               a(href="#") Apply Now
         .burger
            .line1
            .line2
            .line3
